<footer class="text-center">
    <!-- Grid Container -->
    <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-0 footer-links">
            <!-- Facebook -->
            <a href="javascript:void(0)" class="btn btn-outline-light btn-floating m-1 px-3" role="button">
                <i class="fab fa-facebook-f"></i>
            </a>
            <!-- Twitter -->
            <a href="javascript:void(0)" class="btn btn-outline-light btn-floating m-1" role="button">
                <i class="fab fa-twitter"></i>
            </a>
            <!-- Linkedin -->
            <a href="javascript:void(0)" class="btn btn-outline-light btn-floating m-1" role="button">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <!-- Github -->
            <a href="javascript:void(0)" class="btn btn-outline-light btn-floating m-1" role="button">
                <i class="fab fa-github"></i>
            </a>
        </section>
        <hr>
        <!-- Section: Form -->
        <section>
            <form action="/subscribe" method="post">
                <!-- Grid row -->
                <div class="row d-flex justify-content-center">
                    <!-- Grid column -->
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>Sign up for our newsletter</strong>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <div class="col-md-5 col-12">
                        <!-- Email input -->
                        <div class="form-outline">
                            <div class="mb-3">
                                <input type="email" name="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter your email address" required>
                                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            </div>
                        </div>
                    </div>
                    <!-- Grid column -->
                    <div class="col-auto">
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-outline-light" id="subs-btn">Subscribe</button>
                    </div>
                </div>
            </form>
        </section>
        <!-- Section: Text -->
        <section class="mb-4">
            <p>Welcome to jsNodePoint, please subscribe to our newsletter for amazing news and updates.</p>
        </section>
    </div>
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a id="web_link" href="javascript:void(0)">jsNodePoint</a>
    </div>
</footer>