<%- include('partials/header') -%>

<div class="container p-5" id="about">
    <h1>About</h1>
    <hr>
    <img src="images/profile.jpg" alt="author" class="me-3">
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem, recusandae quod, consectetur, similique esse velit labore aliquid blanditiis laborum maiores facere tenetur aspernatur atque animi. Fugiat quis, laborum nulla possimus consectetur tempore, aliquid distinctio vero nobis iste eum sunt accusantium. Dignissimos, veritatis inventore fugiat cupiditate earum et nulla sit a sapiente doloribus? Tempore omnis, natus quisquam repudiandae reiciendis, fugiat doloribus obcaecati adipisci itaque, esse delectus nam! Modi neque temporibus placeat minus, tempora voluptas doloribus sit cumque odio! Neque ipsum quae nesciunt, consectetur magnam atque veritatis architecto? Tempora rerum ullam tempore officiis velit dolores nam repellendus, doloribus iste. Quasi, voluptatem et!
    </p>
</div>

<%- include('partials/footer') -%>