<%- include('partials/header') -%>

<div class="container p-5" id="about">
    <h1 class="heading">About</h1>
    <hr>
    <img src="images/profile.jpg" alt="author" class="img-fluid me-4">
    <h2>Himanshu</h2>
    <h5>Node.js Backend Web Devloper</h5>
    <h6>New Delhi, India</h6>
    <form action="/message" method="post">
        <button type="submit" class="btn btn-primary">Message</button>
    </form>
    <div id="links"></div>
    <div class="preserve-whitespace p-0 m-0">
        A Fresher Web developer who specializes in node.js. Created many projects using node.js like this blog website.
    </div>
</div>

<%- include('partials/footer') -%>