<%- include('partials/header') -%>

<div class="container my-3" id="about">
    <h1>About Me</h1>
    <hr>
    <img src="https://vac.health.digital.gov.krd/resources/images/user_image.png" alt="user_image" id="user-image" class="me-2">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe ad provident sed repellendus eveniet! Quaerat voluptatum eius esse molestiae excepturi dignissimos earum qui optio quidem libero eos rem dicta, voluptate magnam ipsam ipsa iure ea facilis voluptas dolorem porro. Vitae distinctio odio quae vero alias rem, amet id tempore illo ab. Cupiditate, iste dolores. Id modi officiis eos ab similique accusantium beatae atque non, dolores quos deserunt odio suscipit nostrum nemo ducimus veniam numquam dicta harum placeat dolorem, praesentium aspernatur?
    </p>
</div>

<%- include('partials/footer') -%>