<%- include("partials/header") -%>

<div class="container p-5 text-center">
    <h1 id="main-heading">nodeBlog</h1>
    <div class="container p-3 mt-4" id="register-form-container">
        <form action="/forgot" method="post">
            <input type="email" name="email" class="form-control mb-3" placeholder="Enter your registered email address" required>
            <input type="text" name="username" class="form-control mb-3" placeholder="Enter your username" required>
            <input type="password" name="password" class="form-control" placeholder="Create a new password" required>
            <button type="submit" class="btn btn-success mt-3">Update Password</button>
        </form>
    </div>
</div>

<%- include("partials/footer") -%>