<%- include('partials/header') -%>

    <div class="container my-5 message-container">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading"><i class="fas fa-check-circle ms-0 me-2"></i>Awesome!</h4>
            <hr>
            <p>You've been sucessfully signed up to the newsletter, look forwards to lots of awesome content.</p>
        </div>
    </div>

<%- include('partials/footer') -%>