* {
    box-sizing: border-box;
}

.heading {
    color: #3c873a;
}

#navbar-logo {
    width: 25px;
    margin: 0;
}

.displayImage {
    width: 20vw;
    float: left;
}

#display-post-heading {
    clear: both;
}

.preserve-whitespace {
    word-break: break-all;
    white-space: pre-wrap;
    clear: both;
}

.uploadedImage {
    width: 48vw;
    height: 48vh;
}

#author {
    color: #3c873a;
    opacity: 1;
}

.read-link {
    color: #3c873a;
    text-decoration: none;
    font-weight: bold;
}

.other-post {
    border: 8px solid #3c873a;
    border-radius: 8px;
}

#other-post-links {
    text-decoration: none;
    color: black;
}

.post-heading {
    color: #3c873a;
}

#about img {
    float: left;
    border: 2px solid #3c873a;
    width: 13vw;
    height: 25vh;
    border-radius: 100%;
}

.footer-link {
    font-size: 1.5rem;
    color: #3c873a;
}

#blog-link {
    color: #ffffff;
    text-decoration: none;
}

#main-heading {
    color: #3c873a;
    font-size: 3.5rem;
}

#main-para {
    font-size: 1.5rem;
}

.message-container {
    height: 60vh;
}

#login-container {
    box-shadow: 0px 2px 1px 0 gray;
    border-radius: 8px;
}

#login-btn, #create-btn {
    background-color: #3c873a;
    color: white;
}

#login-btn:hover, #create-btn:hover {
    background-color: #287925;
}

#links {
    display: none;
}

#error-message {
    color: rgb(139, 25, 25);
    float: left;
}
#register-form-container {
    width: 50vw;
    border: 3px solid #3c873a;
    border-radius: 5%;
    box-shadow: 0 1px 2px 1px gray;
    background-image: linear-gradient(to bottom, #3c873a, rgb(231, 228, 228));
}

.admin-btn {
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.del {
    color: red;
}

.edit {
    color: green;
}

@media only screen and (max-width: 750px) {
    ul {
        margin: auto;
    }
    .displayImage {
        width: 40vw;
        float: none;
    }
    .uploadedImage {
        width: 60vw;
        height: 48vh;
    }
    #about img {
        width: 40vw;
    }
    #subs-btn {
        margin-top: 10px;
    }
    #other-post-container {
        margin-top: 20px;
    }
    #register-form-container {
        width: auto;
    }
    #other-post-container {
        display: none;
    }
}