* {
    box-sizing: border-box;
}

#navbar-logo {
    width: 25px;
    margin: 0;
}

.displayImage {
    width: 20vw;
    float: left;
}

#display-post-heading {
    clear: both;
}

.preserve-whitespace {
    word-break: break-all;
    white-space: pre-wrap;
}

.uploadedImage {
    width: 48vw;
    height: 48vh;
}

#author {
    color: #3c873a;
    opacity: 1;
}

.read-link {
    color: #3c873a;
    text-decoration: none;
    font-weight: bold;
}

.other-post {
    border: 8px solid #3c873a;
    border-radius: 8px;
}

#other-post-links {
    text-decoration: none;
    color: black;
}

.post-heading {
    color: #3c873a;
}

#about img {
    float: left;
    border: 2px solid #3c873a;
    border-radius: 20%;
}

.footer-link {
    font-size: 1.5rem;
    color: #3c873a;
}

#blog-link {
    color: #ffffff;
    text-decoration: none;
}

#main-heading {
    color: #3c873a;
    font-size: 3.5rem;
}

#main-para {
    font-size: 1.5rem;
}

#login-container {
    box-shadow: 0px 2px 1px 0 gray;
    border-radius: 8px;
}

#login-btn, #create-btn {
    background-color: #3c873a;
    color: white;
}

#login-btn:hover, #create-btn:hover {
    background-color: #287925;
}